@model List<Order>

@{ ViewData["Title"] = "Orders";
    Layout = "_Layout"; }

<h1>@ViewBag.Title</h1>

<div>
    @if (Model.Count == 0)
    {
        <p>Заказов еще нет.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        ContactPone
                    </th>
                    <th>
                        Phone
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactPone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone.Name)
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>