@model PhoneAndCompaniesViewModel
@{
    ViewBag.Title = "Редактирование";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" asp-controller="Phones" method="post">
            <input asp-for="Phone.Id" value="@Model.Phone.Id" hidden>

            @{
                await Html.RenderPartialAsync("PartialViews/_PhoneFormPartial");
            }

            <button type="submit"> Изменить </button>
        </form>
    </div>
</div>

<hr>

<div class="paging"></div>
<div id="ext_comments"></div>
<div class="paging"></div>

<hr>

<div>
    <a id="show_comment" style="cursor:pointer">Add new comment</a>
    <div id="comment_div" style="display:none">
        <input type="text" id="author" name="author" placeholder="Author" />
        <textarea id="comment_text"></textarea>
        <div class="form-group">
            <div id="rating" class="rating-area">
                <input type="radio" id="star-5" value="5">
                <label for="star-5" title="Оценка «5»"></label>
                <input type="radio" id="star-4" value="4">
                <label for="star-4" title="Оценка «4»"></label>
                <input type="radio" id="star-3" value="3">
                <label for="star-3" title="Оценка «3»"></label>
                <input type="radio" id="star-2" value="2">
                <label for="star-2" title="Оценка «2»"></label>
                <input type="radio" id="star-1" value="1">
                <label for="star-1" title="Оценка «1»"></label>
            </div>
        </div>
        <input type="button" id="comment_send" value="Send" />
    </div>
</div>


@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

<script>
    $(function(){
        getComments('@Model.Phone.Id',1)
    })

    let itemsPerPage = 5

    let getComments = function (phoneId, curPage) {
        $.get('@Url.Action("AllComments", "Comment")', {
            'phoneId': phoneId,
            'curPage': curPage,
            'itemsPerPage': itemsPerPage
        }, function (response) {
                console.log(response)
                createPagingButtons(response.commentPageViewModel.maxPage)
                $('.page_' + response.commentPageViewModel.curPage).attr('class', 'page-item active')

                fillComments(response.commentPageViewModel.comments)
        })
    }

    let fillComments = function (comments) {
        $('#ext_comments').empty()
        for (let i = 0; i < comments.length; i++) {
            let id = 'comment_' + (i+1)
            $('#ext_comments').append(htmlComment)
            $('#ext_comments .card').last().attr('id', id)
            $('#'+id+' .ext_comment_author').text(comments[i].author)
            $('#' +id+' .ext_comment_text').text(comments[i].commentText)
            drawRating(comments[i].rating, id)
        }
    }

    let pagination = '<nav">'+
        '<ul class="pagination" >'+
         '   <li class="page-item disabled">'+
          '      <span class="page-link" tabindex="-1" aria-disabled="true">Previous</span>'+
           ' </li>'+
            '<li class="next page-item">'+
             '   <span class="page-link" >Next</span>'+
            '</li>'+
        '</ul >'+
    '</nav >'
    let createPagingButtons = function (maxPage) {
        $('.paging').empty()
        if (maxPage > 1) {

        let button = ''
        for (let i = 1; i <= maxPage; i++) {
            button += '<li class="page_' + i +' page-item"><span class="page-link" onClick="switchPage('+i+')">'+i+'</span></li>'
        }
        $('.paging').append(pagination)
            $('.next').before(button)
        }
    }

    let switchPage = function (num) {
        getComments('@Model.Phone.Id', num)
    }

    let htmlComment = '<div id="ext_comments">'+
        '<div class="card" style = "width: 18rem;" > ' +
        '<div class="card-body">' +
        '<h5 class="ext_comment_author card-title"></h5>' +
        '<div class="card-subtitle mb-2 text-muted"></div>' +
        '<div class="ext_rating rating-mini"></div>' +
        '<hr>' +
        '<p class="ext_comment_text card-text"></p>' +
        '</div></div></div>'


    $('#show_comment').on('click', () => $('#comment_div').show())

    $('#comment_send').on('click', () => {
        $.post('@Url.Action("Add", "Comment")',
            {
                phoneId: '@Model.Phone.Id',
                author: $('#author').val(),
                commentText: $('#comment_text').val(),
                rating: $('#rating input:checked').val()
            },
            function (response) {
                $('#ext_comments').append(htmlComment)
                let commentCount = $('#ext_comments .card').length + 1

                $('#ext_comments .card').last().attr('id', commentCount)
                $('#' + commentCount+' .ext_comment_author').text(response.comment.author)
                $('#' + commentCount +' .ext_comment_text').text(response.comment.commentText)
                drawRating(response.comment.rating, commentCount)
            }
        )
    })

    let drawRating = function (rating, id) {
        for (let i = 0; i < 5; i++) {
            if (i < rating) {
                $('#' +id+' .ext_rating').append('<span class="active"></span>')
            }
            else {
                $('#' +id+' .ext_rating').append('<span></span>')
            }
        }
    }
</script>
}