@model Phone
@{
    ViewBag.Title = "Редактирование";
    Layout = "_Layout";
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" asp-controller="Phones" method="post">
            <div class="form_row">
                <label for="">
                    Название
                    <input asp-for="Name" type="text" value="@Model.Name">
                </label>
            </div>
            @*<div class="form_row">
                <label for="">
                    Бренд
                    <input asp-for="Brand" type="text" value="@Model.Brand">
                </label>
            </div>*@
            <div class="form_row">
                <label for="">
                    Компания
                    <input asp-for="CompanyId" type="text" value="@Model.Company.Id">
                </label>
            </div>
            <div class="form_row">
                <label for="">
                    Стоимость
                    <input asp-for="Price" type="text" value="@Model.Price">
                </label>
            </div>

            <button type="submit"> Изменить </button>
        </form>
    </div>
</div>