@model List<Phone>

@{ ViewBag.Title = "Мобильные телефоны";
    Layout = "_Layout"; }

<h2>@ViewBag.Title</h2>
<a asp-action="Add" asp-controller="Phones">Добавить смартфон</a>
<div class="table_section">
    @if (@Model.Count == 0)
    {
<p>Смартфоны еще не добавлены</p> }
else
{
<table style="width: 100%;">
    <tr>
        <th>Id</th>
        <th>Наименование</th>
        <th>Компания</th>
        <th>Стоимость</th>
        <th></th>
    </tr>
    @foreach (var phone in @Model)
    {
<tr>
    <td>@phone.Id</td>
    <td>@phone.Name</td>
    <td>@phone.Company.Name</td>
    <td>@phone.Price</td>

    <td>
        <a asp-action="Create" asp-controller="Orders" asp-route-id="@phone.Id">Заказать</a> |
        <a asp-action="Edit" asp-controller="Phones" asp-route-id="@phone.Id">Edit</a>
    </td>
</tr>
}

</table>}

</div>