@model PhoneIndexViewModel

@{ ViewBag.Title = "Мобильные телефоны";
    Layout = "_Layout"; }

<h2>@ViewBag.Title</h2>
<a asp-action="Add" asp-controller="Phones">Добавить смартфон</a>
<div class="table_section">
    @if (@Model.Phones.ToList().Count == 0)
    {
<p>Смартфоны еще не добавлены</p> }
else
{
<table style="width: 100%;">
    <tr>
        <th>Id</th>
        <th>Наименование</th>
        <th>Компания</th>
        <th>Стоимость</th>
        <th>Отзывы</th>
        <th></th>
    </tr>
    @foreach (var phone in @Model.Phones)
    {
<tr>
    <td>@phone.Id</td>
    <td>@phone.Name</td>
    <td>@phone.Brand.Name</td>
    <td>@phone.Price</td>
    <td>
    @if (phone.Comments.Count > 0)
    {
        <div class="rating-mini">
            @{var rate = Convert.ToInt32(@phone.Comments.Select(c => c.Rating).Average());}
            @for (int i = 0; i < 5; i++)
            {
                @if (i < rate)
                {
                    <span class="active"></span>
                }
                else {
                <span></span>
                }
            }
        </div>
    }else {
        <div class="rating-mini">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    }
    </td>
    <td>
        <a asp-action="Create" asp-controller="Orders" asp-route-id="@phone.Id">Заказать</a> | 
        <a asp-action="Edit" asp-controller="Phones" asp-route-id="@phone.Id">Edit</a> | 
        <a class="btn btn-danger" asp-action="Delete" asp-controller="Phones" asp-route-id="@phone.Id">Delete</a>
    </td>
</tr>
}

</table>

    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber-1)" class="btn btm-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Previous
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber+1)" class="btn btm-default">
            Next
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
    }

</div>